@charset "utf-8";
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body,
div, span, p, a, img, strong,
h1, h2, h3, h4, h5, h6,
dl, dt, dd,
ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td,
object, iframe,
blockquote, pre, address, code, em, small, var, b, i,
form, label,
article, aside, canvas, footer, header, hgroup, menu, nav, output,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: tahoma, arial, \5b8b\4f53;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfix { zoom: 1; }
.clearfix:after {
	content: ' ';
	clear: both;
	display: block;
}
a {
	text-decoration: none;
}
img {
	border: 0 none;
}
